<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_3_stand51.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{46,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{46,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>hero_3_stand52.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,80},{44,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{44,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>hero_3_stand53.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,158},{58,76}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{58,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>hero_3_stand54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>hero_3_stand55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{58,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{58,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>hero_3_stand56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{62,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{62,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>hero_3_stand57.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,80},{48,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{48,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_3_stand5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d73b0a937dfc134def50b92b2dd3441$</string>
            <key>textureFileName</key>
            <string>hero_3_stand5.png</string>
        </dict>
    </dict>
</plist>
